* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f7;
}

.nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 996px;
    height: 44px;
    font-size: 12px;
    white-space: nowrap;
    margin: 0px -8px;
    padding-left: 8px;
    padding-right: 8px;
}
#golbalnav {
    width: 100%;
    max-width: 3400px;
    min-width: 320px;
    max-height: 44px;
}

.nav_content {
    width: 100%;
    max-width: 1024px;
    height: 44px;
    padding: 0 22px;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav_link {
    color: #333336;
    text-decoration: none;
}

.ribon_content_wrapper {
    width: 100%;
    max-width: 3400px;
    min-width: 320px;
    max-height: 54px;
    background-color: white;
}

.ribon_content {
    width: 980px;
    padding: 3px 0;
    margin: 0 auto;
    display: flex;
    /* background-color: white; */

}

.ribon_content_item1 {
    font-size: 14px;
    width: 850px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* background-color: white; */
}